<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User update</title>
</head>
<body>
<form  th:action="@{/admin/user-update}" th:object="${user}" method="post">
    <strong><label for="eId">ID </label></strong>
    <input type="number" class="form-control"
           th:value="${user.id}" id="eId" name="id"
           readonly>
    <br/>

    <strong><label
            for="name">Name</label></strong>
    <input type="text" class="form-control"
           th:value="${user.name}" id="name"
           name="name"
           required minlength="1" maxlength="50">
    <br/>



    <strong><label
            for="email">Email</label></strong>
    <input type="text" class="form-control"
           th:value="${user.username}" id="email"
           name="username"
           required minlength="1" maxlength="50">
    <br/>

    <strong><label
            for="ePassword">Password</label></strong>
    <input type="password" class="form-control"
           th:value="${user.password}" id="ePassword"
           name="password" data-toggle="password">
    <br/>

    <label for="role">roles:</label>
    <select multiple="multiple" th:field="*{roles}"
            type="text" id="role">
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${
        role.getAuthority().replaceFirst('ROLE_', '')}"></option>

    </select>
    <br/>   <br/>
    <input type="submit" value="Update">

</form>
</body>
</html>