<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">


<body>
<h2>User Info </h2>
<br>
<form th:action="@{/logout}" th:object="${user}">

    <form:hidden path="id"/>

    <label >Your name: </label>
    <a  th:text="*{name}" ></a>
    <br><br>
    <label> Your email(login): </label>
    <a th:text="*{username}" ></a>
    <br><br>

    <label >Your roles:</label>
    <a th:each="role : ${user.getRoles()}" th:text="${role.getAuthority().replaceFirst('ROLE_', '')} + ' '" ></a>
    <br><br>

    <br><br>
    <div>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Log out</button>
        </form>
    </div>

</form>



</body>
</html>